[user]
	name = Brett Hazen
	email = github@javajolt.com
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[core]
	excludesfile = /Users/hazen/.gitignore_global
[push]
	default = simple
[diff]
    tool = opendiff
[difftool]
    prompt = false
[difftool "opendiff"]
    cmd = /usr/bin/opendiff \"$LOCAL\" \"$REMOTE\" -merge \"$MERGED\"
#[diff]
#	#external = /Users/hazen/bin/git-diff-cmd.sh
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[gpg]
	program = gpg1
[alias]
	co = checkout
	b = branch
	ci = commit
	st = status
	l = pull
	p = push
	m = merge
	rb = rebase
	c = clone
	a = add
    cleanup = "!git remote prune origin && git branch -vv | grep ': gone]' | cut -d ' ' -f 3 | xargs -n 1 git branch -D"
[pull]
	rebase = false
